/* html { */
/*     scroll-behavior: smooth */
/* } */

/* Украшение оттенка сайта #2c6178 #2c6178
 * background: radial-gradient(circle, #212526, #000);
 * background: radial-gradient(ellipse at bottom, #212526, #000);
 * background: radial-gradient(closest-side, #3f87a6, #212526);
 * background: radial-gradient(ellipse at bottom, #3f87a6, #000);
 * background: linear-gradient(270deg, #2c6178, #000); */
body {
  background: radial-gradient(
      circle at center,
      #2c5e74 0%,
      #255163 4%,
      #1f4353 12.25%,
      #193642 31.25%,
      #122831 50%,
      #0c1b21 70%,
      #000 100%
    )
    top right/300% 300%;
  color: #fff;
  font-family: "Cozette";
  font-size: 16px;
  position: relative;
  height: 100%;
  animation: colorChange 10s infinite alternate;
  text-shadow: 1px 1px 11px black;
}
@-webkit-keyframes colorChange {
  to {
    background-position: top left;
  }
}
@-moz-keyframes colorChange {
  to {
    background-position: top left;
  }
}
@keyframes colorChange {
  to {
    background-position: top left;
  }
}

h1 {
  color: #ff7f50;
}
h2 {
  color: #7ecc52;
}
h3 {
  color: #8cc3c5;
}
h4,
h5,
h6 {
  color: #d8774a;
}
/* Якорь (удобное копирование заголовков) */
h1,
h2,
h3,
h4,
h5,
h6 {
  .anchor {
    text-decoration: none;
    border-bottom-color: transparent;
    cursor: pointer;
  }
}

/* Цвет url */
a:link {
  color: #18b2b2;
}
/* Цвет посещённых url'ов */
a,
summary {
  color: #0d6969;
  text-decoration: none;
}
/* Цвет наводки на url курсором */
a:hover,
summary:hover {
  color: #f70;
  cursor: pointer;
}

.twocols {
  display: flex;
  width: 100%;
}

.toc {
  border: 2px dashed #7ecc52;
  padding-left: 15px;
  border-radius: 7px;
  margin-top: 10px;
}

.navcol {
  float: left;
  padding-left: 3%;
  padding-right: 2%;
  min-width: 120px;
  width: 12%;
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
}

.navcol ul {
  list-style: none;
  padding: 0;
}

ul {
  padding: 0;
}

.fixedcol {
  position: fixed;
}

.maincol {
  padding-right: 10%;
  width: 73%;
  word-wrap: break-word;
}

.author {
  margin-top: 20px;
  min-height: 120px;
  width: 100%;
}

blockquote {
  color: #7fffd4;
  margin: 5px;
}

details {
  margin: 8px;
  line-height: 1.7em;
}

pre {
  background: #2B303B;
  max-height: 40em;
  padding: 0.7em 1.0em;
  overflow: auto;
  font-size: 0.9em;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #eee;
  border-radius: 4px;
}

code {
	display: inline-block;
	background: #2B303B;
	color: #219aeb;
	line-height: 1.5;
	padding: 1px 6px;
	border-radius: 4px;
}

pre {
  font-size: 15.5px;

  + pre {
    border-top: 0;
    margin-top: -10px;
  }
}

.search-results__item {
	margin-bottom: 9px;
}



/* Resize картинок для смартфонов*/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Нужно? */
footer {
  margin: 5% auto;
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
  vertical-align: middle;
}


.social img {
  display: inline-block;
  max-width: 18px;
  vertical-align: middle;
}


.sociallinks a {
  display: inline-block;
  margin: 5px 10px;
}

.eachsociallinks img {
  max-width: 45px;
}

::-webkit-scrollbar {
  box-shadow: inset 0 0 5px #000000;
  width: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #000000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #18b2b2;
  border-radius: 10px;
}



@media screen and (max-width: 768px) {
  .contents {
    margin: 5%;
  }

  .twocols {
    flex-direction: column;
  }

  .navcol {
    display: contents;
    float: none;
    text-align: center;
  }

  .fixedcol {
    position: relative;
  }

  .navcol li {
    display: inline-block;
    margin: 5px;
  }

  .maincol {
    display: block;
    padding-right: 0;
    width: 100%;
  }

  ::-webkit-scrollbar {
  box-shadow: inset 0 0 5px #000000;
  width: 4px;
  }

  ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #000000;
  border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
  background: #18b2b2;
  border-radius: 10px;
  }
}

/* Шрифт страницы
 * Cozette классный но на длительных постах трудно читать (либо это из-за того что я сонный)
 * TODO: Нужно выбрать более приятно читабельный шрифт */
@font-face {
  font-display: swap;
  font-family: "Cozette";
  size-adjust: 120%;
  src: url("/assets/fonts/Cozette/CozetteVector.ttf") format("truetype");
}
