{% extends "base.html" %}

{% block content %}
<h1 class="title">
<h1>AniXBlog</h1>
Инструкции в сфере технологий и open-source.
<hr>
<div class="author">
	<!-- TODO: ссылку web url внутри моего никнейма -->
	<!-- TODO: создать Odysee аккаунт и добавить в сайт -->
    <p>Привет, добро пожаловать на мой уютный мини сайт. Я Михаил (a.k.a - <a href="TODO">AniX</a>). Мне 23, обожаю компьютерные штуки, музыку, игры и изредко аниме.</p>
	<p>В этом блоге я освещаю в основном GNU/Linux дистрибутивы и различную работу с ними такие как гейминг, медиа и многое другое, временами здесь также будут и другие руководства.<br></p>
	<blockquote>
	Небольшая предыстория: Ранее я писал для себя заметки в Google документы, и <a href="https://docs.google.com/document/d/1c9yqKSz5LkS1Gd422w4TMdf-_76PHySzku4PsHbxZok/edit?usp=sharing">эти заметки</a> переросли в огромный 380 страничный документ которым невозможно было пользоваться из-за долгой начальной прогрузки и задержек.
	И тогда я начал всё переписывать в Markdown и создать свой сайт со всеми материалами с целью поделится со всеми.
	</blockquote>
	<p>Мой неполный, но постоянно пополняющийся список материалов находится <a href="/posts">здесь</a>, также не забывайте о <a href="/tags">тегах</a> и <a href="/categories">категориях</a> для удобной навигации.
	Помимо этого блога снизу вы можете посетить мои ссылки или <a href="/rss.xml">подписаться на RSS ленту</a> чтобы не пропускать мои посты.
	Также посетите мои труды в <a href="https://steamcommunity.com/id/An_iX/myworkshopfiles/?section=guides">Steam руководствах</a>, там я заливаю инструкции о запусках различных игр на GNU/Linux.</p>
    <p>Кроме того, я есть на <a href="https://www.youtube.com/channel/UCrq9BunXIBXRLd2L2ZBHtXw" target="_blank" rel="noopener nofollow noreferrer">Youtube</a> и <a href="" target="_blank" rel="noopener nofollow noreferrer">Odysee (TODO)</a>.</p>
</div>
</h1>
<p>Используемый шрифт для веб страницы <a href="https://github.com/slavfox/Cozette" target="_blank" rel="noopener noreferrer nofollow">Cozette</a></p>
{% endblock content %}
